<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" <head>
<meta charset="UTF-8">
<title>Create New Employee</title>
</head>

<body>
	<div class="container my-3">
		<div class="row">
			<div class="col-md-8 mx-auto">
				<h2>Employee Registration</h2>
				<form th:action="@{/save}" th:object="${employee}" method="post">
					<div class="form-row">
						<div class="col-md-6 form-group">
							<label>ID</label>
							<input type="number" class="form-control" th:field="*{id}">
						</div>
						<div class="col-md-6 form-group">
							<label>Name</label>
							<input type="text" class="form-control" th:field="*{name}">
						</div>
						<div class="col-md-6 form-group">
							<label>Role</label>
							<select class="form-control" th:field="*{dept}">
								<option value="">Select</option>
								<option value="Batsman">Batsman</option>
								<option value="Bowler">Bowler</option>
								<option value="AllRounder">AllRounder</option>
							</select>
						</div>
						<button type="submit" class="btn btn-primary btn-block mt-3">Save</button>
				</form>
			</div>
		</div>
	</div>
	</body>
</html>